<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217555118846-chhocpbs7g9i0qa6nafvpbjr111tdnpt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217555118846-chhocpbs7g9i0qa6nafvpbjr111tdnpt</string>
	<key>API_KEY</key>
	<string>AIzaSyBewOa4oMAHWrECy3Y4MDJRI6EPf-0RfLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>217555118846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.assignment1</string>
	<key>PROJECT_ID</key>
	<string>mdev1015-assignment1</string>
	<key>STORAGE_BUCKET</key>
	<string>mdev1015-assignment1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217555118846:ios:eae3870b13443e957213af</string>
</dict>
</plist>